.position-block {
  display: flex;
  flex-direction: column;
  gap: 11px;
  position: relative;
  width: 380px;
  text-align: left;
}

.position {
  width: 380px;
  display: flex;
  text-align: left;
  gap: 12px;
}

@media (max-width: 412px) {
  .position-block, .position {
    width: 320px;
  }
}
