.user {
  width: 328px;
  background-color: white;
  border-radius: 10px;
}

.user-photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.overflow {
  white-space: nowrap;
  overflow: hidden;
  line-height: 90%;
  text-overflow: ellipsis;
  width: 242px;
}

.user-card-grid {
  max-width: 370px;
  display: grid;
  gap: 20px;
  grid-template-rows: repeat(1fr, 3);
  justify-content: center;
  align-items: center;
  padding: 20px;
}

@media (max-width: 359px) {
  .user {
    width: 90%;
  }

  .overflow {
    max-width: 80dvw;
    width: min-content;
  }
}

@media (min-width: 360px) {
  .user {
    width: 328px;
  }
}

@media (min-width: 680px) {
  .user {
    width: 344px;
  }
}

@media (min-width: 1024px) {
  .user {
    width: 282px;
  }
}

@media (min-width: 1170px) {
  .user {
    width: 370px;
  }
}