.button {
  width: 100px;
  height: 34px;
  background-color: var(--primary-color);
  border-radius: calc(34px / 2);
  border: none;
  color:#000000DE;
  position: relative;
}

.button:hover {
  background-color:#F4E041DE;
}

.disabled {
  background-color: #B4B4B4;
  color:#FFFFFFDE;
}