.position-block {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 11px;
  position: relative;
  align-self: flex-start;
}

.position {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}