.button {
  width: 100px;
  height: 34px;
  background-color: var(--primary-color);
  border-radius: 17px;
  border: none;
  color: #000000DE;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.button:hover {
  background-color: #F4E041DE;
  cursor: pointer;
}

.button.disabled {
  background-color: #B4B4B4;
  color: #FFFFFFDE;
}

@media (max-width: 359px) {
  .button {
    max-width: 75px;
    padding: 0;
  }
}
