.mt140 {
  margin-top: 140px;
}

.users-grid {
  width: 100%;
  display: grid;
  justify-items: center;
  align-content: center;
  grid-template-columns: 1;
  gap: 20px;
}

.users-flex {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  max-width: 1170px;
  width: min-content;
}

@media (min-width: 768px) {
  .users-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

@media (min-width: 1170px) {
  .users-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}