.menu {
  padding: 0 16px;
  width: 100vw;
  height: 60px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-content {
  width: 1170px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.logo {
  width: 104px;
}

.buttons {
  max-width: 250px;
  flex-shrink: 1;
  display: flex;
  gap: 10px;
  justify-content: center;
}

@media (max-width: 359px) {
  .menu {
    max-width: 100%;
    height: auto;
    padding: 0;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .buttons {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  p.h1, p.p1.overflow {
    line-break: anywhere;
    max-width: 80dvw;
  }
}

@media (min-width: 360px) and (max-width: 412px) {

}